.nav {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0;
}
.nav__link {
  margin-right: 2rem;
  color: var(--primary1);
}
.nav__logo {
  margin-right: auto;
  margin-left: 2rem;
}
@media screen and (max-width: 500px) {
  .nav {
    padding: 1rem 0;
  }
  .nav__link {
    margin-right: 1rem;
  }
  .nav__logo {
    display: inline-block;
    width: 25%;
    margin-left: 1rem;
  }
  .nav__logo img {
    width: 90%;
  }
}